<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <section class="errors">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        <div id="error"></div>
      </section>

      <section>
        <form id="urlForm" onsubmit="return Client.handleSubmit(event)">
          <input
            id="name"
            type="text"
            name="url"
            placeholder="https://www.example.com:8080/path"
            required
          />
          <input type="submit" name="" value="submit" />
        </form>
      </section>

      <section>
        <strong>Form Results:</strong>
        <div id="results">
          <ul>
            <li>
              <h3>Polarity:</h3>
              <p id="polarity"></p>
              <h4>Polarity Positive:</h4>
              <p id="confidence"></p>
            </li>
            <li>
              <h3>Text Subjectivity:</h3>
              <p id="subjectivity"></p>
              <h4>subjectivity Factual:</h4>
              <p id="subjectivity_factual"></p>
            </li>
            <h3>Text:</h3>
            <p id="text"></p>
          </ul>
        </div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
  </body>
</html>
